{% extends "students/base.html" %}
{% block title %}{{ action }}ing new {{ subject }}{% endblock title %}

{% block content %}

{% if del_button == 'warning' %}

    WARNING!<br>
    This action is unrecoverable!<br>

    Are you sure to want delete this {{ subject }} {{ form }}?<br><br>
    <form action="{% url 'students:subj_action' subject 'delete' subj_id %}" method="post">
        {% csrf_token %}
        <input type="submit" value="YES, DELETE">
    </form>

{% else %}
    <style>.calendar>table>caption{caption-side:unset}</style><!--caption fix for bootstrap4-->
    {{ form.media }}        {# Form required JS and CSS #}

    <form action="" method="post" novalidate>
    {% csrf_token %}
    <table>
        {{ form.as_table }}
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
    </form>

    {% if del_button == 'show' %}
        <p class="success">
            <a href="{% url 'students:subj_action' subject 'delete' subj_id %}">Delete {{ subject }}</a>
        </p>
    {% endif %}
{% endif %}

{% endblock content %}
