{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Marengue: {% block title %}Main{% endblock %}</title>
    <link rel="stylesheet" href="{% static "marengue_style.css" %}">
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static '/admin/js/core.js' %}"></script>
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/admin_media/js/core.js"></script>
    <!-- <script type="text/javascript" src="/admin_media/js/calendar.js"></script> --!>
    <script type="text/javascript" src="/admin_media/js/admin/DateTimeShortcuts.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static '/admin/css/widgets.css' %}">
</head>
<body>
    <div class="logo">
        <h1 class="logo-text">Marengue</h1>
    </div>
    <header class="menu">
        <p>
            <a href="{% url 'students:index' %}">MAIN PAGE</a>
            &nbsp;
            <a href="{% url 'students:students' %}">Students</a>
            &nbsp;
            <a href="{% url 'students:lessons' %}">Lessons</a>

            <a href="{% url 'students:settings' %}">Settings</a>
            &nbsp; |
            &nbsp; {{ user.username }}
            {% if not user.is_authenticated %}
            <a href="{% url 'accounts:login' %}">Login</a>
            {% else %}
            <a href="{% url 'accounts:profile' %}">Profile</a>
            |
            <a href="{% url 'accounts:logout' %}">Logout</a>
            {% endif %}
        </p>
    </header>
    <section class="content-box">
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </section>
    <footer>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </footer>
</body>
</html>