{% extends "students/base.html" %}
{% block title %} Lessons {% endblock title %}

{% block content %}

<h1>Lessons</h1>


<table><tr>
    <th>Date</th>
    <th>Student</th>
    <th>Status</th>
    <th>Duration</th>
    <th>skype</th>
    <th>cost</th>
    <th>gcal_event_id</th>
    <th>gcal_updated</th>
    </tr>
{% for lesson in object_list %}
    <tr>
    <td>{{ lesson.date|date:"Y-m-d" }} {{ lesson.date|date:"H:i" }}</td>
    <td>{{ lesson.student }}</td>
    <td>{{ lesson.status }} {{ lesson.status.verbose_name }}</td>
    <td>{{ lesson.lesson_long }}</td>
    <td>{{ lesson.skype }}</td>
    <td>{{ lesson.cost }}</td>
    <td>{{ lesson.googlecal_event_id|truncatechars:7 }}</td>
    <td>{{ lesson.googlecal_updated|date:"ymd His.u"|slice:":-3" }}</td>
    </tr>
{% empty %}
    No lessons yet.
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<h2>Google events</h2>

{{ sync_elements.calendar }} || <a href="{%url 'students:googlecal_refresh'%}">Refresh</a><br>
{{ sync_elements.updated }}<br>
{{ sync_elements.nextSyncToken }} || <a href="{%url 'students:googlecal_sync'%}">Sync</a><br>


<table><tr>
    <th>Date</th>
    <th>Duration</th>
    <th>Location</th>
    <th>Summary</th>
    <th>Description</th>
    <th>Updated</th>
    <th>google_status</th>
    <th>googlecal_event_id</th>
    </tr>
{% for event in events %}
    <tr>
    <td>{{ event.start|date:"Y-m-d" }} {{ event.start|date:"H:i" }}</td>
    <td>{{ event.duration }}</td>
    <td>{{ event.location }}</td>
    <td>{{ event.summary }}</td>
    <td>{{ event.description }}</td>
    <td>{{ event.updated|date:"ymd His.u"|slice:":-3" }}</td>
    <td>{{ event.google_status }}</td>
    <td>{{ event.id|truncatechars:7  }}</td>
    </tr>
{% empty %}
    No lessons yet.
{% endfor %}
</table>

{% endblock content %}