{% extends "students/base.html" %}
{% block title %}{{ student }} Detail{% endblock title %}

{% block content %}

    <h2>{{ student }} {% if not student.active %} АРХИВ {% endif %} </h2>
    <a href="{% url 'students:subj_action' subject='student' action='edit' subj_id=student.id %}">редактировать</a>

    <p>Возраст: {{ student.calculate_age }} ({{ student.birthday }})<br>
        Район: {{ student.district }}<br>
        Tel: {{ student.phone }}<br>
        E-mail: {{ student.email }}<br>
        С нами уже {{ student.calculate_seniority }} (c {{ student.start_date }})<br>
    </p>

    <p>
        Всего уроков состоялось: {{ len_lesson }}, общая длительность: {{ sum_lesson }} мин.
        Отменено уроков: {{ cancels }}
    </p>

    <p>
        Тариф очно: {{ tariff_main }} руб. за {{ dflt }} мин.<br>
        Тариф skype: {{ tariff_skype }} руб. за {{ dflt }} мин.<br>
        Доход за все время: {{ income }} руб.<br>
        Недополучено за все время: {{ lost }} руб.
    </p>

    <p>
        Баланс студента: {{ balance }}<br>
        <a href="{% url 'students:student_subj_action' student.id 'money' 'add' %}">Внести денег</a>
    </p>

    <p><a href="{%url 'students:student_payments' student.id %}">Платежи студента</a></p>
    <p><a href="{%url 'students:student_lessons' student.id %}">Занятия со студентом</a></p>
    <p><a href="{%url 'students:student_prices' student.id %}">Тарифы для студента</a></p>


{% endblock content %}