{% extends "students/base.html" %}
{% block title %} Student Prices {% endblock title %}

{% block content %}

<h1>Price for {{ student }}</h1>
<a href="{% url 'students:detail' student.id %}">student card</a>

<p><a href="{% url 'students:student_subj_action' student.id 'price' 'add' %}">Add new price</a></p>

<table><tr>
    <th>Start date</th>
    <th>Duration</th>
    <th>skype</th>
    <th>cost</th>
    <th>edit</th>
    </tr>
{% for price in prices %}
    <tr>
    <td>{{ price.start_date|date:"Y-m-d" }}</td>
    <td>{{ price.duration }}</td>
    <td>{{ price.skype }}</td>
    <td>{{ price.cost }}</td>
    <td><a href="{% url 'students:student_subj_action' student.id 'price' 'edit' price.id %}">edit #{{ price.id }}</a></td>
    </tr>
{% empty %}
    No prices yet.
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>


{% endblock content %}